/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}



/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	
}
.main-navigation a {
	display: block;
	text-decoration: none;
	color: $dark-grey;
	padding:10px 5%;
	width:90%;
	@include rounded(3px);
	@include linear-gradient(#fbfbfb, #e7e7e7);
	border:1px solid #ededed;
	border-bottom:1px solid #fff; 
	text-align:center;
	text-transform:uppercase;
}
.main-navigation a:hover {
	@include linear-gradient(#e7e7e7, #fbfbfb);
	border-bottom:1px solid #ededed;
}
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 1.5em;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
	color:$brand-colour;
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
	color:$brand-colour;
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}




ul#menu-sub-menu {list-style:none;padding:0;margin:0px 0 0 0; text-align:center;}
ul#menu-sub-menu li {display:inline-block; padding:0 5px}
ul#menu-sub-menu li a {color:#5f5f61; font-size:15px;}




.menu-toggle {
    color: #fff;
    display: block;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: -25px;
    height:25px;
    line-height:25px;
    width: 100%;
}
.main-navigation.toggled .nav-menu {
	display:block;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px solid $dark-grey;
}

.main-navigation ul {
	display: none;
}

nav.social-media {display:inline-block; width:100%; text-align:center; background-color:$brand-colour; }
nav.social-media ul {display:inline; margin:0; padding:0;}
nav.social-media li {display:inline-block; margin-left:0px;}
nav.social-media li a {display:block; width:42px; height:42px; line-height:42px; text-indent:-999em; background-image:url("social.png"); background-size:462px auto; background-color:$brand-colour;}
nav.social-media li a:hover {background-color:$brand-colour-secondary;}
nav.social-media li.social-facebook a {background-position:0px 0px}
nav.social-media li.social-twitter a {background-position:126px 0px}
nav.social-media li.social-gplus a {background-position:336px 0px}
nav.social-media li.social-youtube a {background-position:42px 0px}
nav.social-media li.social-linkedin a {background-position:294px 0px}
nav.social-media h4 {display:none;}

footer nav {display:none;}

@media screen and (min-width: 480px) {


}

@media screen and (min-width: 768px) {

	.menu-toggle {
		display: none;
	}

	.menu-sub-menu-container {float:right; clear:both;}

	.main-navigation {position:absolute; top:160px;}
	.main-navigation ul {
		display: block;
		text-align:center;;
	}


	.main-navigation li {
		display:inline-block;
	}
	.main-navigation li a, .main-navigation li a:hover {
		width:auto;
		padding:0 10px;
		border:none; 
		background:none;
		font-weight:bold;
	}


	footer nav {display:block; overflow:hidden; clear:both;}
	footer nav ul {list-style:none; padding:0; margin:0}

	footer nav.menu-footer-primary-container { color:$grey;}
	footer nav.menu-footer-primary-container li {width:25%; float:left;}
	footer nav.menu-footer-primary-container li a {color:inherit; font-size:18px; width:90%; display:block; padding-bottom:10px;}
	footer nav.menu-footer-primary-container li ul li {width:auto; float:none;}
	footer nav.menu-footer-primary-container li ul li a {font-size:12px; padding-bottom:2px;}

	footer nav.menu-footer-primary-container li.membership-menu {background-color:$brand-colour; color:white; padding:0 0 10px 0}
	footer nav.menu-footer-primary-container li.membership-menu a {padding:10px 0 0 10px;}

	footer nav.menu-footer-secondary-container {text-align:right; padding:10px 0 20px 0}
	footer nav.menu-footer-secondary-container li {display:inline-block;font-size:12px;}
	footer nav.menu-footer-secondary-container li a {}

	.delimiter {float: right;padding-left: 5px;}
	.sub-menu .delimiter {display: none;}
	.menu-footer-secondary-container li:last-child .delimiter {display: none;}

	nav.social-media {width:auto; float:right;}
	nav.social-media h4 {display:block; font-weight:bold; margin-bottom:5px;}
	nav.social-media {background-color:transparent;}
	nav.social-media li {margin:0;}

}

@media screen and (min-width: 1024px) {

	.menu-sub-menu-container {float:right; clear:none;} 

}

@media screen and (min-width: 1280px) {


}








