/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: $dark-grey;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

body {
	background-color:$light-grey;}

#page {

	max-width:$maxwidth;
}

h1 {font-size:140%; margin-bottom:10px; font-weight:bold; line-height:1.2;}
h2 {font-size:120%; margin-bottom:10px; font-weight:bold; line-height:1.2;}
h3 {margin-bottom:10px; line-height:1.2;}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: white;
	background-color:black;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-color:$brand-colour;
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	background-color:$brand-colour;
}


/* Links */
a {
	color: $brand-colour;
}
a:visited {
	color: $brand-colour;
}
a:hover,
a:focus,
a:active {
	color: $brand-colour-secondary;
}

.site-branding {border-color: $dark-grey;}


.site-info {max-width:$maxwidth; margin-top:20px;}

.entry-content form textarea:focus, .entry-content form input:focus {border-color:$brand-colour;}

.logo {
	background-color:white;
	padding-top:10px;
}
.logo img {
	height:auto;
	width:150px;
	margin:5px auto;
}


#cntctfrm_contact_form input.text, #cntctfrm_contact_form textarea, #cntctfrm_contact_message, #cntctfrm_contact_name, #cntctfrm_contact_email, #cntctfrm_contact_subject {width:95%;}
.entry-content form textarea, .entry-content form input {border-color:$grey;}


@media screen and (min-width: 480px) {


}


@media screen and (min-width: 768px) {

	.logo img {width:80%;}

	footer { max-width:$maxwidth; 
		.site-info {width:68%; float:right; padding:0; margin:0; color:$grey; }
	}

	header {margin-top:40px; background-color:white; text-align:right;}

	.site-branding{
		display:inline-block;
		vertical-align:middle;
		font-size:1px;
		padding-bottom:0;
		margin-bottom:0;
		width:30%;
	}

	.header-banner {
		display:inline-block;
		vertical-align:middle;
		font-size:1px;
		width:68%;
		margin-top:0;
		border-left:10px solid #eee;
	}


}

@media screen and (min-width: 1024px) {


}

@media screen and (min-width: 1280px) {


}
























